/*style.css*/
/*global styles*/
body{
    font-family: Ariel, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header and footer*/
header, footer{
    background-color:blueviolet;
    color: rgb(213, 44, 44);
    padding: 20px 0;
    text-align: center;
}
/*Navigation Menu Styles*/
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}
nav ul li a{
    margin: 0 15px;
}
nav ul li a{
    color: rgb(36, 28, 28);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
nav ul li a :hover{
    background-color: blue;
}
/*Responsive image styles*/
img{
    max-width: 100%;
    height: auto;
}
/*content styles*/
container{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
/*page-specific styles*/
h1{
    text-align: center;
    color: indigo;
}